<font size=5>1. 读取数据</font>

In [2]:
import pandas as pd
import numpy as np

In [3]:
stationID = "1316A"
datadate = "201901"

In [4]:
filename = "data/"+stationID+"/"+datadate+".csv"
filename

'data/1316A/201901.csv'

In [5]:
data = pd.read_csv(filename, header=0, encoding="utf-8")

<font size=5>2. 查看数据格式及是否有缺失值<font>

In [6]:
#查看前五行数据
data.head()

,date,hour,stationID,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h
0,20190101,0,1316A,152.0,116.0,85.0,184.0,135.0,21.0,21.0,79.0,65.0,6.0,48.0,13.0,35.0,1.6,1.3
1,20190101,1,1316A,133.0,101.0,87.0,178.0,139.0,21.0,21.0,79.0,66.0,6.0,48.0,6.0,6.0,1.6,1.3
2,20190101,2,1316A,134.0,102.0,88.0,162.0,142.0,23.0,21.0,79.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3
3,20190101,3,1316A,140.0,107.0,90.0,172.0,145.0,21.0,22.0,78.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3
4,20190101,4,1316A,143.0,109.0,92.0,171.0,148.0,19.0,21.0,77.0,67.0,6.0,48.0,6.0,6.0,1.8,1.4

In [7]:
#查看数据格式
data.dtypes

date           int64
hour           int64
stationID     object
AQI          float64
PM2.5        float64
PM2.5_24h    float64
PM10         float64
PM10_24h     float64
SO2          float64
SO2_24h      float64
NO2          float64
NO2_24h      float64
O3           float64
O3_24h       float64
O3_8h        float64
O3_8h_24h    float64
CO           float64
CO_24h       float64
dtype: object

In [8]:
#查看数据形状
data.shape

(744, 18)

In [9]:
#查看是否有缺失值
data.count()

date         744
hour         744
stationID    744
AQI          709
PM2.5        706
PM2.5_24h    740
PM10         702
PM10_24h     740
SO2          738
SO2_24h      743
NO2          733
NO2_24h      743
O3           735
O3_24h       743
O3_8h        743
O3_8h_24h    743
CO           737
CO_24h       743
dtype: int64

这里可以看到还是有缺失值存在的
**<font color=red>在将数据应用于系统之前，一定要对缺省值进行处理</font>**

In [10]:
#找出含有缺失值的列
hasNAN = data.isnull().any()
hasNAN[hasNAN==True]

AQI          True
PM2.5        True
PM2.5_24h    True
PM10         True
PM10_24h     True
SO2          True
SO2_24h      True
NO2          True
NO2_24h      True
O3           True
O3_24h       True
O3_8h        True
O3_8h_24h    True
CO           True
CO_24h       True
dtype: bool

<font size=5>3. 处理缺失值</font>

我的想法是：先找出含NAN值的列，然后分别计算这些列的均值，然后进行填充

In [11]:
#nancolslist存放含NAN值的列名信息
nancolslist = list(hasNAN[hasNAN==True].index)
len(nancolslist)

15

In [115]:
#计算每一项指标的均值
for indicator in nancolslist:
    print(data[indicator].mean())

163.04090267983074
121.79603399433428
123.16216216216216
180.5242165242165
181.13783783783785
17.90379403794038
18.04306864064603
66.65484311050477
67.21668909825034
22.64625850340136
53.00134589502019
22.08613728129206
25.970390309555853
1.4303934871099038
1.4347240915208608

In [116]:
#利用均值填充缺失值
for indicator in nancolslist:
    colsmean = data[indicator].mean()
    data[indicator] = data[indicator].fillna(colsmean)

In [117]:
#查看填充后的数据
data[50:100]

,date,hour,stationID,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h
50,20190103,2,1316A,159.000000,121.000000,140.0,182.000000,205.0,22.000000,20.0,86.000000,77.0,13.000000,94.0,16.0,20.0,1.500000,1.6
51,20190103,3,1316A,159.000000,121.000000,138.0,174.000000,203.0,19.000000,20.0,84.000000,76.0,14.000000,94.0,16.0,20.0,1.400000,1.6
52,20190103,4,1316A,165.000000,125.000000,136.0,176.000000,201.0,18.000000,20.0,89.000000,76.0,8.000000,94.0,14.0,20.0,1.500000,1.6
53,20190103,5,1316A,166.000000,126.000000,133.0,189.000000,199.0,17.000000,20.0,87.000000,76.0,7.000000,94.0,12.0,20.0,1.500000,1.6
54,20190103,6,1316A,163.000000,124.000000,131.0,178.000000,196.0,16.000000,20.0,85.000000,75.0,6.000000,94.0,11.0,20.0,1.500000,1.6
55,20190103,7,1316A,168.000000,127.000000,129.0,181.000000,193.0,17.000000,20.0,82.000000,75.0,6.000000,94.0,11.0,20.0,1.600000,1.6
56,20190103,8,1316A,176.000000,133.000000,127.0,188.000000,190.0,19.000000,20.0,84.000000,74.0,6.000000,94.0,10.0,20.0,1.800000,1.5
57,20190103,9,1316A,188.000000,141.000000,125.0,215.000000,188.0,24.000000,20.0,82.000000,74.0,9.000000,94.0,9.0,20.0,1.800000,1.5
58,20190103,10,1316A,198.000000,148.000000,124.0,228.000000,186.0,21.000000,20.0,80.000000,74.0,10.000000,94.0,8.0,20.0,1.900000,1.5
59,20190103,11,1316A,203.000000,153.000000,124.0,224.000000,186.0,20.000000,20.0,83.000000,74.0,13.000000,94.0,8.0,20.0,2.000000,1.5
60,20190103,12,1316A,203.000000,153.000000,125.0,241.000000,186.0,18.000000,20.0,92.000000,75.0,14.000000,94.0,9.0,20.0,2.000000,1.6
61,20190103,13,1316A,200.000000,150.000000,126.0,235.000000,188.0,16.000000,20.0,100.000000,78.0,19.000000,94.0,10.0,20.0,1.900000,1.6
62,20190103,14,1316A,198.000000,148.000000,127.0,217.000000,190.0,16.000000,21.0,83.000000,80.0,30.000000,94.0,13.0,20.0,1.430393,1.6
63,20190103,15,1316A,133.000000,121.796034,128.0,216.000000,192.0,18.000000,20.0,70.000000,81.0,38.000000,81.0,17.0,20.0,1.300000,1.6
64,20190103,16,1316A,189.000000,142.000000,128.0,204.000000,193.0,15.000000,20.0,54.000000,81.0,57.000000,67.0,24.0,24.0,1.200000,1.6
65,20190103,17,1316A,189.000000,142.000000,129.0,178.000000,192.0,15.000000,19.0,54.000000,81.0,60.000000,64.0,30.0,30.0,1.200000,1.6
66,20190103,18,1316A,211.000000,161.000000,131.0,194.000000,193.0,20.000000,19.0,72.000000,81.0,44.000000,60.0,34.0,34.0,1.400000,1.6
67,20190103,19,1316A,237.000000,187.000000,134.0,227.000000,195.0,30.000000,20.0,90.000000,82.0,28.000000,60.0,36.0,36.0,1.700000,1.6
68,20190103,20,1316A,240.000000,190.000000,137.0,239.000000,198.0,29.000000,20.0,96.000000,82.0,21.000000,60.0,37.0,37.0,1.400000,1.6
69,20190103,21,1316A,225.000000,175.000000,140.0,229.000000,200.0,20.000000,20.0,92.000000,82.0,23.000000,60.0,38.0,38.0,1.100000,1.5
70,20190103,22,1316A,218.000000,168.000000,143.0,220.000000,203.0,15.000000,20.0,75.000000,82.0,31.000000,60.0,38.0,38.0,1.000000,1.5
71,20190103,23,1316A,222.000000,172.000000,145.0,199.000000,204.0,12.000000,19.0,74.000000,81.0,25.000000,60.0,36.0,38.0,0.900000,1.5
72,20190104,0,1316A,234.000000,184.000000,148.0,208.000000,205.0,9.000000,19.0,92.000000,82.0,8.000000,60.0,30.0,38.0,1.200000,1.5
73,20190104,1,1316A,248.000000,198.000000,152.0,212.000000,206.0,8.000000,18.0,92.000000,82.0,5.000000,60.0,5.0,5.0,1.200000,1.5
74,20190104,2,1316A,250.000000,200.000000,155.0,209.000000,208.0,8.000000,18.0,87.000000,82.0,6.000000,60.0,6.0,6.0,1.200000,1.5
75,20190104,3,1316A,254.000000,204.000000,159.0,215.000000,209.0,8.000000,17.0,79.000000,82.0,10.000000,60.0,7.0,7.0,1.300000,1.5
76,20190104,4,1316A,259.000000,209.000000,162.0,210.000000,211.0,8.000000,17.0,68.000000,81.0,14.000000,60.0,9.0,9.0,0.900000,1.4
77,20190104,5,1316A,255.000000,205.000000,166.0,211.000000,212.0,8.000000,16.0,60.000000,80.0,20.000000,60.0,11.0,11.0,0.900000,1.4
78,20190104,6,1316A,253.000000,203.000000,169.0,205.000000,213.0,7.000000,16.0,49.000000,79.0,30.000000,60.0,14.0,14.0,0.700000,1.4
79,20190104,7,1316A,256.000000,206.000000,173.0,221.000000,214.0,7.000000,15.0,48.000000,77.0,30.000000,60.0,16.0,16.0,0.700000,1.3
80,20190104,8,1316A,245.000000,195.000000,175.0,215.000000,216.0,8.000000,15.0,48.000000,76.0,32.000000,60.0,18.0,18.0,0.700000,1.3
81,20190104,9,1316A,283.000000,233.000000,179.0,241.000000,217.0,7.000000,14.0,72.000000,75.0,7.000000,60.0,19.0,19.0,1.100000,1.3
82,20190104,10,1316A,368.000000,318.000000,187.0,180.524217,216.0,24.000000,14.0,95.000000,76.0,9.000000,60.0,19.0,19.0,2.000000,1.3
83,20190104,11,1316A,395.000000,345.000000,195.0,376.000000,223.0,33.000000,15.0,103.000000,77.0,11.000000,60.0,19.0,19.0,2.600000,1.3
84,20190104,12,1316A,395.000000,345.000000,203.0,402.000000,230.0,38.000000,16.0,103.000000,77.0,15.000000,60.0,19.0,19.0,2.700000,1.3
85,20190104,13,1316A,395.000000,345.000000,212.0,390.000000,236.0,39.000000,17.0,103.000000,77.0,17.000000,60.0,19.0,19.0,2.800000,1.4
86,20190104,14,1316A,395.000000,345.000000,221.0,386.000000,244.0,38.000000,18.0,99.000000,78.0,23.000000,60.0,18.0,19.0,3.000000,1.4
87,20190104,15,1316A,395.000000,345.000000,226.0,377.000000,251.0,36.000000,18.0,95.000000,79.0,27.000000,60.0,18.0,19.0,2.900000,1.5
88,20190104,16,1316A,395.000000,345.000000,234.0,363.000000,258.0,35.000000,19.0,97.000000,81.0,26.000000,60.0,17.0,19.0,2.900000,1.6
89,20190104,17,1316A,395.000000,345.000000,243.0,353.000000,265.0,38.000000,20.0,104.000000,83.0,19.000000,44.0,18.0,19.0,2.900000,1.6
90,20190104,18,1316A,395.000000,345.000000,250.0,348.000000,272.0,38.000000,21.0,112.000000,85.0,13.000000,32.0,19.0,19.0,2.900000,1.7
91,20190104,19,1316A,206.000000,121.796034,253.0,354.000000,278.0,38.000000,21.0,112.000000,86.0,22.646259,32.0,20.0,20.0,3.000000,1.7
92,20190104,20,1316A,361.000000,311.000000,258.0,346.000000,282.0,40.000000,22.0,66.654843,85.0,22.646259,32.0,21.0,21.0,3.100000,1.8
93,20190104,21,1316A,352.000000,302.000000,264.0,373.000000,288.0,17.903794,22.0,66.654843,85.0,8.000000,32.0,19.0,21.0,3.100000,1.9
94,20190104,22,1316A,344.000000,294.000000,269.0,364.000000,295.0,17.903794,22.0,109.000000,86.0,8.000000,32.0,17.0,21.0,1.430393,1.9
95,20190104,23,1316A,163.040903,121.796034,274.0,180.524217,299.0,45.000000,24.0,111.000000,88.0,8.000000,32.0,14.0,21.0,3.200000,2.0
96,20190105,0,1316A,163.040903,121.796034,278.0,180.524217,303.0,43.000000,25.0,115.000000,89.0,7.000000,32.0,10.0,21.0,3.100000,2.1
97,20190105,1,1316A,360.000000,310.000000,283.0,382.000000,311.0,41.000000,27.0,114.000000,90.0,7.000000,32.0,7.0,7.0,3.000000,2.2
98,20190105,2,1316A,368.000000,318.000000,289.0,381.000000,320.0,40.000000,28.0,117.000000,92.0,6.000000,32.0,6.0,7.0,3.100000,2.3
99,20190105,3,1316A,341.000000,291.000000,293.0,383.000000,328.0,42.000000,30.0,115.000000,93.0,6.000000,32.0,6.0,7.0,3.100000,2.4

这样就填充好缺失值了，可以进行下一步操作。

<font size=5>4. 日期处理</font>

毕竟是时间序列，肯定要对时间进行处理。

In [118]:
#查看datetime类型
type(data.date)

pandas.core.series.Series

In [119]:
#将数据转化为datetime类型
data["date"]= pd.to_datetime(data["date"], format='%Y%m%d')

In [120]:
data.shape

(744, 18)

In [121]:
#查看更改为datetime类型的date数据
data.head()

,date,hour,stationID,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h
0,2019-01-01,0,1316A,152.0,116.0,85.0,184.0,135.0,21.0,21.0,79.0,65.0,6.0,48.0,13.0,35.0,1.6,1.3
1,2019-01-01,1,1316A,133.0,101.0,87.0,178.0,139.0,21.0,21.0,79.0,66.0,6.0,48.0,6.0,6.0,1.6,1.3
2,2019-01-01,2,1316A,134.0,102.0,88.0,162.0,142.0,23.0,21.0,79.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3
3,2019-01-01,3,1316A,140.0,107.0,90.0,172.0,145.0,21.0,22.0,78.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3
4,2019-01-01,4,1316A,143.0,109.0,92.0,171.0,148.0,19.0,21.0,77.0,67.0,6.0,48.0,6.0,6.0,1.8,1.4

In [122]:
#查看下类型
data.dtypes

date         datetime64[ns]
hour                  int64
stationID            object
AQI                 float64
PM2.5               float64
PM2.5_24h           float64
PM10                float64
PM10_24h            float64
SO2                 float64
SO2_24h             float64
NO2                 float64
NO2_24h             float64
O3                  float64
O3_24h              float64
O3_8h               float64
O3_8h_24h           float64
CO                  float64
CO_24h              float64
dtype: object

在这里发现date真的转换位datetime类型

目前的datetime中年月日信息是连在一起的，便于后续操作，我们把信息独立分成三列

In [123]:
data["year"] = pd.DatetimeIndex(data.date).year
data["month"] = pd.DatetimeIndex(data.date).month
data["day"] = pd.DatetimeIndex(data.date).day

考虑到周末和工作日人们的生活方式可能与平常不大相同，单独再增加一列dayOfWeek，表示当前是一周的第几天

In [124]:
data["dayOfWeek"] = pd.DatetimeIndex(data.date).dayofweek

**<font color=red size=3>注意：dayOfWeek开始值是0，而不是我们想象中的周一，结束值是6，代表周日</font>**

In [125]:
#再看下当前数据
data.head()

,date,hour,stationID,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,...,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,year,month,day,dayOfWeek
0,2019-01-01,0,1316A,152.0,116.0,85.0,184.0,135.0,21.0,21.0,...,6.0,48.0,13.0,35.0,1.6,1.3,2019,1,1,1
1,2019-01-01,1,1316A,133.0,101.0,87.0,178.0,139.0,21.0,21.0,...,6.0,48.0,6.0,6.0,1.6,1.3,2019,1,1,1
2,2019-01-01,2,1316A,134.0,102.0,88.0,162.0,142.0,23.0,21.0,...,6.0,48.0,6.0,6.0,1.7,1.3,2019,1,1,1
3,2019-01-01,3,1316A,140.0,107.0,90.0,172.0,145.0,21.0,22.0,...,6.0,48.0,6.0,6.0,1.7,1.3,2019,1,1,1
4,2019-01-01,4,1316A,143.0,109.0,92.0,171.0,148.0,19.0,21.0,...,6.0,48.0,6.0,6.0,1.8,1.4,2019,1,1,1

In [126]:
#查看更新后的data的shape：
data.shape

(744, 22)

这里可以看到，由之前的18列扩展为22列。因为我们新增了四列：year,month,day,dayOfWeek

其实，此时的date、stationID数据就不是很有用了，我们可以先将这列去掉，<font color=red>不过保险起见，我们先保存一下吧</font>

In [127]:
initialData = data

In [128]:
#扔掉date、stationID字段
data = data.drop(["date", "stationID"], axis=1)

In [129]:
#查看data的shape:
data.shape

(744, 20)

可以发现由于我们删掉了两列，此时的数据从22列变为20列

In [130]:
#重新查看数据
data.head()

,hour,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,year,month,day,dayOfWeek
0,0,152.0,116.0,85.0,184.0,135.0,21.0,21.0,79.0,65.0,6.0,48.0,13.0,35.0,1.6,1.3,2019,1,1,1
1,1,133.0,101.0,87.0,178.0,139.0,21.0,21.0,79.0,66.0,6.0,48.0,6.0,6.0,1.6,1.3,2019,1,1,1
2,2,134.0,102.0,88.0,162.0,142.0,23.0,21.0,79.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3,2019,1,1,1
3,3,140.0,107.0,90.0,172.0,145.0,21.0,22.0,78.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3,2019,1,1,1
4,4,143.0,109.0,92.0,171.0,148.0,19.0,21.0,77.0,67.0,6.0,48.0,6.0,6.0,1.8,1.4,2019,1,1,1

这样数据好很多了，就是位置需要再调整一下

In [132]:
orderlist = ["year", "month", "day", "hour", "AQI", "PM2.5", "PM2.5_24h", "PM10", "PM10_24h","SO2","SO2_24h","NO2","NO2_24h","O3", "O3_24h", "O3_8h", "O3_8h_24h", "CO", "CO_24h", "dayOfWeek"]
data = data[orderlist]
data.head()

,year,month,day,hour,AQI,PM2.5,PM2.5_24h,PM10,PM10_24h,SO2,SO2_24h,NO2,NO2_24h,O3,O3_24h,O3_8h,O3_8h_24h,CO,CO_24h,dayOfWeek
0,2019,1,1,0,152.0,116.0,85.0,184.0,135.0,21.0,21.0,79.0,65.0,6.0,48.0,13.0,35.0,1.6,1.3,1
1,2019,1,1,1,133.0,101.0,87.0,178.0,139.0,21.0,21.0,79.0,66.0,6.0,48.0,6.0,6.0,1.6,1.3,1
2,2019,1,1,2,134.0,102.0,88.0,162.0,142.0,23.0,21.0,79.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3,1
3,2019,1,1,3,140.0,107.0,90.0,172.0,145.0,21.0,22.0,78.0,67.0,6.0,48.0,6.0,6.0,1.7,1.3,1
4,2019,1,1,4,143.0,109.0,92.0,171.0,148.0,19.0,21.0,77.0,67.0,6.0,48.0,6.0,6.0,1.8,1.4,1

可以看到，数据整洁了很多

In [133]:
#再查看下数据类型
data.dtypes

year           int64
month          int64
day            int64
hour           int64
AQI          float64
PM2.5        float64
PM2.5_24h    float64
PM10         float64
PM10_24h     float64
SO2          float64
SO2_24h      float64
NO2          float64
NO2_24h      float64
O3           float64
O3_24h       float64
O3_8h        float64
O3_8h_24h    float64
CO           float64
CO_24h       float64
dayOfWeek      int64
dtype: object

<font size=5>5. 将DataFrame格式的数据转化为ndarray类型</font>

<font color=red>选择目标值为AQI指数，空气质量指数（也就是手机里面经常看到的）</font>

In [134]:
data_target = data["AQI"].values

In [135]:
data_target.shape

(744,)

<font color=red>剩下的数据作为特征数据</font>

In [136]:
data_features = data.drop(["AQI"], axis=1).values
data_features

array([[2.019e+03, 1.000e+00, 1.000e+00, ..., 1.600e+00, 1.300e+00,
        1.000e+00],
       [2.019e+03, 1.000e+00, 1.000e+00, ..., 1.600e+00, 1.300e+00,
        1.000e+00],
       [2.019e+03, 1.000e+00, 1.000e+00, ..., 1.700e+00, 1.300e+00,
        1.000e+00],
       ...,
       [2.019e+03, 1.000e+00, 3.100e+01, ..., 1.100e+00, 1.100e+00,
        3.000e+00],
       [2.019e+03, 1.000e+00, 3.100e+01, ..., 1.000e+00, 1.100e+00,
        3.000e+00],
       [2.019e+03, 1.000e+00, 3.100e+01, ..., 1.000e+00, 1.100e+00,
        3.000e+00]])

In [137]:
data_features.shape

(744, 19)

**<font size=6>机器学习算法</font>**

In [138]:
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn import svm
from sklearn.model_selection import cross_val_score

使用K折交叉验证方式

In [139]:
kfold = KFold(n_splits=3, shuffle=True, random_state=0)

In [140]:
#三折交叉验证
kfold.get_n_splits(data_features)

3

我们利用SVM中的SVR支持向量回归查看下数据的运行效果

In [144]:
for train_index,test_index in kfold.split(data_features):
    data_train, data_test = data_features[train_index], data_features[test_index]
    target_train, target_test = data_target[train_index], data_target[test_index]
    svc = svm.SVR(kernel='rbf', C=10, gamma=0.001)
    svc.fit(data_train, target_train)
    print("在训练集上的精度:{:.2f}".format(svc.score(data_train,target_train)))
    print("在测试集上的精度:{:.2f}".format(svc.score(data_test,target_test)))

在训练集上的精度:0.56
在测试集上的精度:0.51
在训练集上的精度:0.62
在测试集上的精度:0.47
在训练集上的精度:0.57
在测试集上的精度:0.44